@import "utils";

.metaWrapper {
  @include icon-styles {
    // width: 18px;
    // height: 18px;
    //
    // had to comment this so location icon would look like on design
    // however we have to keep in mind, that this could affect other icons
    // if we don't want that to happen, it would be a good idea to make separate class for icons
    // and not define icon's size in wrapper for meta
    // OR we can make another wrapper without defining icons' size
    margin-right: rem-calc(4);
    color: $c-semidark-chocolate;
  }

  display: flex;
  flex-wrap: wrap;

  @include breakpoint(small down) {
    width: 100%;
  }
}

.baseItem {
  color: currentColor;
}

.metaItem {
  display: flex;
  align-items: center;

  &:last-child {

    .divider {
      display: none;
    }
  }
}

.recruiterMetaItem {
  @extend .baseItem;
  display: inline-block;
  @include text-truncate;

  &:not(:last-child) {

    &::after {
      margin: rem-calc(0 24);
      content: '|';
    }
  }
}

.divider {
  width: rem-calc(4);
  height: rem-calc(4);
  margin: rem-calc(0 10);
  color: var(--icon-color, currentColor);
  background-color: $c-citrus;
  border-radius: 50%;
}
